
body {background-color:#ff98eb;}
#navtable{width:1024px;}
#nav-td{text-align:center;}
p{text-align:center;}
#h1-td{text-align:center;}
#p-td {color:rgb(0.0.0);}
#h1-td {color:rgb(0,0,0);}
body {background-image: url('myBackground.jpg')}
